body {
    background-color: lightblue;
}

.heading {
    text-align: center;
}

.section {
    padding: 25px;
    text-align: center;
    border: solid 3px dodgerblue;
    background: lightskyblue;
    border-radius: 6px;
    margin-bottom: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.types {
    display: table;
    width:100%
}

.question-type {
    display: table-cell;
    float: left;
    width: fit-content;
    margin-right: 10px;
}

.question {

    display: block;
    padding: 10px;
    width: 150px;
    margin-bottom: 10px;

    border: solid 3px dodgerblue;
    background: lightskyblue;
    border-radius: 6px;
}