body {
    background-color: lightblue;
}

.heading {
    text-align: center;
}

.section {
    padding: 25px;
    text-align: center;
    border: solid 3px dodgerblue;
    background: lightskyblue;
    border-radius: 6px;
    margin-bottom: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.types {
    display: table;
    width:100%
}

.question-type {
    float: left;
    width: fit-content;
    margin-right: 10px;
    display: inline-flex;
    writing-mode: vertical-lr;
    flex-wrap: wrap;
    align-content: flex-start;
    max-height: 200px;
}

.question {
    display: block;
    padding: 10px;
    width: 150px;
    margin-bottom: 10px;
    break-inside: avoid;
    border: solid 3px #1e90ff;
    background: lightskyblue;
    border-radius: 6px;
    height: 20px;
    writing-mode: horizontal-tb;
    margin-right: 10px;
}